data_regrid/croco_1h_inst_surf_2006-02-01-2006-02-28_0.1deg_conservative.nc
src/__pycache__/forcing.cpython-310.pyc
src/__pycache__/inv.cpython-310.pyc
src/__pycache__/observations.cpython-310.pyc
src/__pycache__/tools.cpython-310.pyc
src/models/__pycache__/__init__.cpython-310.pyc
src/models/__pycache__/jslab.cpython-310.pyc
tests_models/png_tests_models/jslab_-50.0E_35.0N.png
tests_models/__pycache__/tests_functions.cpython-310.pyc
regrid_croco/__pycache__/filters.cpython-310.pyc
regrid_croco/__pycache__/plot_functions.cpython-310.pyc
regrid_croco/__pycache__/regridder.cpython-310.pyc
src/__pycache__/constants.cpython-310.pyc
data_regrid/croco_1h_inst_surf_2006-02-01-2006-02-28_0.1deg_bilinear.nc
tests_models/png_tests_models/jslab_kt_-50.0E_35.0N.png
src/models/__pycache__/classic_slab.cpython-310.pyc
NIO_reconstruct.code-workspace
.vscode/settings.json
ENV.txt
data_regrid/croco_1h_inst_surf_2005-03-01-2005-03-31_0.1deg_conservative.nc
data_regrid/regridder_0.1deg_conservative.nc
tests_models/png_tests_models/jslab_kt_-50.0E_46.0N.png
tests_models/png_tests_models/jslab_kt_-50.0E_46.0N_save.png
tests_models/png_tests_models/jslab_-50.0E_46.0N.png
tests_models/png_tests_models/test_pktM_jax.png
tests_models/png_tests_models/test_pktM_np.png
tests_models/memory_R0.5.prof
tests_models/memory_R0.8.prof
tests_models/memory_R2.0.prof
tests_models/memory_R10.0.prof
tests_models/memory.prof
tests_models/profile001.svg
tests_models/png_tests_models/jslab_kt_2D_-50.0E_46.0N.png
data_regrid/croco_1h_inst_surf_2005-01-01-2005-01-31_0.1deg_conservative.nc
data_regrid/croco_1h_inst_surf_2005-02-01-2005-02-28_0.1deg_conservative.nc
data_regrid/croco_1h_inst_surf_2005-04-01-2005-04-30_0.1deg_conservative.nc
data_regrid/croco_1h_inst_surf_2005-05-01-2005-05-31_0.1deg_conservative.nc
data_regrid/croco_1h_inst_surf_2005-06-01-2005-06-30_0.1deg_conservative.nc
data_regrid/croco_1h_inst_surf_2005-07-01-2005-07-31_0.1deg_conservative.nc
data_regrid/croco_1h_inst_surf_2005-08-01-2005-08-31_0.1deg_conservative.nc
data_regrid/croco_1h_inst_surf_2005-09-01-2005-09-30_0.1deg_conservative.nc
data_regrid/croco_1h_inst_surf_2005-10-01-2005-10-31_0.1deg_conservative.nc
data_regrid/croco_1h_inst_surf_2005-11-01-2005-11-30_0.1deg_conservative.nc
data_regrid/croco_1h_inst_surf_2005-12-01-2005-12-31_0.1deg_conservative.nc
tests_models/png_tests_models/jslab_-70.0E_35.0N.png
tests_models/png_tests_models/jslab_kt_-70.0E_35.0N.png
tests_models/png_tests_models/jslab_kt_-70.0E_35.0N_t0_365.png
