data_regrid/croco_1h_inst_surf_2006-02-01-2006-02-28_0.1deg_conservative.nc
src/__pycache__/forcing.cpython-310.pyc
src/__pycache__/inv.cpython-310.pyc
src/__pycache__/observations.cpython-310.pyc
src/__pycache__/tools.cpython-310.pyc
src/models/__pycache__/__init__.cpython-310.pyc
src/models/__pycache__/jslab.cpython-310.pyc
tests_models/png_tests_models/jslab_-50.0E_35.0N.png
tests_models/__pycache__/tests_functions.cpython-310.pyc
regrid_croco/__pycache__/filters.cpython-310.pyc
regrid_croco/__pycache__/plot_functions.cpython-310.pyc
regrid_croco/__pycache__/regridder.cpython-310.pyc
src/__pycache__/constants.cpython-310.pyc
data_regrid/croco_1h_inst_surf_2006-02-01-2006-02-28_0.1deg_bilinear.nc
tests_models/png_tests_models/jslab_kt_-50.0E_35.0N.png
src/models/__pycache__/classic_slab.cpython-310.pyc
NIO_reconstruct.code-workspace
.vscode/settings.json
ENV.txt
data_regrid/croco_1h_inst_surf_2005-03-01-2005-03-31_0.1deg_conservative.nc
data_regrid/regridder_0.1deg_conservative.nc
tests_models/png_tests_models/jslab_kt_-50.0E_46.0N.png
tests_models/png_tests_models/jslab_kt_-50.0E_46.0N_save.png
tests_models/png_tests_models/jslab_-50.0E_46.0N.png
tests_models/png_tests_models/test_pktM_jax.png
tests_models/png_tests_models/test_pktM_np.png
tests_models/memory_R0.5.prof
tests_models/memory_R0.8.prof
tests_models/memory_R2.0.prof
tests_models/memory_R10.0.prof
tests_models/memory.prof
tests_models/profile001.svg
tests_models/png_tests_models/jslab_kt_2D_-50.0E_46.0N.png
data_regrid/croco_1h_inst_surf_2005-01-01-2005-01-31_0.1deg_conservative.nc
data_regrid/croco_1h_inst_surf_2005-02-01-2005-02-28_0.1deg_conservative.nc
data_regrid/croco_1h_inst_surf_2005-04-01-2005-04-30_0.1deg_conservative.nc
data_regrid/croco_1h_inst_surf_2005-05-01-2005-05-31_0.1deg_conservative.nc
data_regrid/croco_1h_inst_surf_2005-06-01-2005-06-30_0.1deg_conservative.nc
data_regrid/croco_1h_inst_surf_2005-07-01-2005-07-31_0.1deg_conservative.nc
data_regrid/croco_1h_inst_surf_2005-08-01-2005-08-31_0.1deg_conservative.nc
data_regrid/croco_1h_inst_surf_2005-09-01-2005-09-30_0.1deg_conservative.nc
data_regrid/croco_1h_inst_surf_2005-10-01-2005-10-31_0.1deg_conservative.nc
data_regrid/croco_1h_inst_surf_2005-11-01-2005-11-30_0.1deg_conservative.nc
data_regrid/croco_1h_inst_surf_2005-12-01-2005-12-31_0.1deg_conservative.nc
tests_models/png_tests_models/jslab_-70.0E_35.0N.png
tests_models/png_tests_models/jslab_kt_-70.0E_35.0N.png
tests_models/png_tests_models/jslab_kt_-70.0E_35.0N_t0_365.png
tests_models/png_tests_models/jslab_kt_-70.0E_35.0N_t240_300.png
experiments/optimal_dTK/png_opti_dTK/cost_dTK_20_to_2dTK.png
tests_models/png_tests_models/jslab_rxry_-70.0E_35.0N_t240_300.png
experiments/optimal_dTK/png_opti_dTK/cost_dTK_864000_to_777600.png
experiments/optimal_dTK/png_opti_dTK/cost_dTK_10_to_1.png
tests_models/png_tests_models/jslab_kt_Ue_Unio_-70.0E_35.0N_t200_300.png
tests_models/png_tests_models/jslab_rxry_-70.0E_35.0N_t0_28.png
tests_models/png_tests_models/jslab_rxry_-70.0E_35.0N_t200_300.png
tests_models/png_tests_models/jslab_rxry_-70.0E_35.0N_t250_260.png
experiments/optimal_dTK/png_opti_dTK/cost_dTK_365_to_364.png
compared_to_PAPA/data_PAPA_2018/cur50n145w_hr.cdf
compared_to_PAPA/data_PAPA_2018/d50n145w_hr.cdf
compared_to_PAPA/data_PAPA_2018/lw50n145w_hr.cdf
compared_to_PAPA/data_PAPA_2018/rad50n145w_hr.cdf
compared_to_PAPA/data_PAPA_2018/README_cur.txt
compared_to_PAPA/data_PAPA_2018/README_d.txt
compared_to_PAPA/data_PAPA_2018/README_lw.txt
compared_to_PAPA/data_PAPA_2018/README_rad.txt
compared_to_PAPA/data_PAPA_2018/README_s.txt
compared_to_PAPA/data_PAPA_2018/README_sss.txt
compared_to_PAPA/data_PAPA_2018/README_sst.txt
compared_to_PAPA/data_PAPA_2018/README_t.txt
compared_to_PAPA/data_PAPA_2018/README_wind.txt
compared_to_PAPA/data_PAPA_2018/s50n145w_hr.cdf
compared_to_PAPA/data_PAPA_2018/sss50n145w_hr.cdf
compared_to_PAPA/data_PAPA_2018/sst50n145w_hr.cdf
compared_to_PAPA/data_PAPA_2018/t50n145w_hr.cdf
compared_to_PAPA/data_PAPA_2018/w50n145w_hr.cdf
data_PAPA_2018/cur50n145w_hr.cdf
data_PAPA_2018/d50n145w_hr.cdf
data_PAPA_2018/lw50n145w_hr.cdf
data_PAPA_2018/rad50n145w_hr.cdf
data_PAPA_2018/README_cur.txt
data_PAPA_2018/README_d.txt
data_PAPA_2018/README_lw.txt
data_PAPA_2018/README_rad.txt
data_PAPA_2018/README_s.txt
data_PAPA_2018/README_sss.txt
data_PAPA_2018/README_sst.txt
data_PAPA_2018/README_t.txt
data_PAPA_2018/README_wind.txt
data_PAPA_2018/s50n145w_hr.cdf
data_PAPA_2018/sss50n145w_hr.cdf
data_PAPA_2018/sst50n145w_hr.cdf
data_PAPA_2018/t50n145w_hr.cdf
data_PAPA_2018/w50n145w_hr.cdf
data_PAPA_2018/cur50n145w_hr.nc
data_PAPA_2018/d50n145w_hr.nc
data_PAPA_2018/lw50n145w_hr.nc
data_PAPA_2018/rad50n145w_hr.nc
data_PAPA_2018/s50n145w_hr.nc
data_PAPA_2018/sss50n145w_hr.nc
data_PAPA_2018/sst50n145w_hr.nc
data_PAPA_2018/t50n145w_hr.nc
data_PAPA_2018/w50n145w_hr.nc
data_PAPA_2018/original_files/cur50n145w_hr.cdf
data_PAPA_2018/original_files/d50n145w_hr.cdf
data_PAPA_2018/original_files/lw50n145w_hr.cdf
data_PAPA_2018/original_files/rad50n145w_hr.cdf
data_PAPA_2018/original_files/s50n145w_hr.cdf
data_PAPA_2018/original_files/sss50n145w_hr.cdf
data_PAPA_2018/original_files/sst50n145w_hr.cdf
data_PAPA_2018/original_files/t50n145w_hr.cdf
data_PAPA_2018/original_files/w50n145w_hr.cdf
experiments/optimal_dTK/png_opti_dTK/cost_dTK_365_to_5.png
experiments/compared_to_PAPA/png_models_at_PAPA/jslab_kt__t0_60.png
experiments/compared_to_PAPA/png_models_at_PAPA/jslab_kt__t0_365.png
experiments/compared_to_PAPA/png_models_at_PAPA/jslab_kt__t0_180.png
experiments/compared_to_PAPA/png_models_at_PAPA/jslab_kt__t25_50.png
experiments/compared_to_PAPA/png_models_at_PAPA/jslab_kt__t213_243.png
benchmarks/__pycache__/functions_benchmark.cpython-310.pyc
benchmarks/benchmark_results.txt
benchmarks/benchmark_results_jackz.txt
benchmarks/benchmark_results_t00.0_t120.0.txt
benchmarks/benchmark_results_t00.0_t140.0.txt
benchmarks/benchmark_results_t00.0_t120.0_jackz.txt
benchmarks/benchmark_results_t00.0_t140.0_jackz.txt
benchmarks/benchmark_results_t00.0_t160.0_jackz.txt
benchmarks/benchmark_results_t00.0_t180.0_jackz.txt
benchmarks/benchmark_results_t00.0_t1100.0_jackz.txt
benchmarks/benchmark_results_t00.0_t1120.0_jackz.txt
benchmarks/benchmark_results_t00.0_t1140.0_jackz.txt
benchmarks/__pycache__/my_var.cpython-310.pyc
benchmarks/__pycache__/run_benchmark.cpython-310.pyc
benchmarks/png_benchmark/benchmark_jslab_kt_2D.png
benchmarks/png_benchmark/benchmark_jslab_kt_Ue_Unio.png
benchmarks/png_benchmark/benchmark_jslab_kt.png
benchmarks/png_benchmark/benchmark_jslab_rxry.png
benchmarks/png_benchmark/benchmark_jslab_Ue_Unio.png
benchmarks/png_benchmark/benchmark_jslab.png
benchmarks/benchmark_results_t00.0_t160.0.txt
benchmarks/benchmark_results_t00.0_t180.0.txt
benchmarks/benchmark_results_t00.0_t1100.0.txt
benchmarks/benchmark_results_t00.0_t1120.0.txt
benchmarks/benchmark_results_t00.0_t1140.0.txt
benchmarks/benchmark_results_t00.0_t1160.0.txt
benchmarks/benchmark_results_t00.0_t1180.0.txt
benchmarks/benchmark_results_t00.0_t1160.0_jackz.txt
benchmarks/benchmark_results_t00.0_t1180.0_jackz.txt
benchmarks/my_var.py
benchmarks/my_var.py
benchmarks/my_var.py
benchmarks/benchmark_results_t00.0_t1200.0.txt
benchmarks/benchmark_results_t00.0_t1220.0.txt
benchmarks/benchmark_results_t00.0_t1240.0.txt
benchmarks/benchmark_results_t00.0_t1260.0.txt
benchmarks/benchmark_results_t00.0_t1280.0.txt
benchmarks/benchmark_results_t00.0_t1300.0.txt
benchmarks/benchmark_results_t00.0_t1200.0_jackz.txt
benchmarks/benchmark_results_t00.0_t1220.0_jackz.txt
benchmarks/benchmark_results_t00.0_t1240.0_jackz.txt
benchmarks/benchmark_results_t00.0_t1260.0_jackz.txt
benchmarks/benchmark_results_t00.0_t1280.0_jackz.txt
benchmarks/benchmark_results_t00.0_t1300.0_jackz.txt
benchmarks/benchmark_results_t00.0_t1320.0_jackz.txt
benchmarks/benchmark_results_t00.0_t1340.0_jackz.txt
benchmarks/__pycache__/functions_benchmark.cpython-312.pyc
benchmarks/__pycache__/my_var.cpython-312.pyc
src/__pycache__/constants.cpython-312.pyc
src/__pycache__/tools.cpython-312.pyc
src/__pycache__/observations.cpython-312.pyc
src/__pycache__/inv.cpython-312.pyc
src/__pycache__/forcing.cpython-312.pyc
src/models/__pycache__/__init__.cpython-312.pyc
src/models/__pycache__/classic_slab.cpython-312.pyc
benchmarks/benchmark_results_t00.0_t120.0_maison.txt
benchmarks/benchmark_results_t00.0_t140.0_maison.txt
benchmarks/benchmark_results_t00.0_t160.0_maison.txt
benchmarks/benchmark_results_t00.0_t180.0_maison.txt
benchmarks/benchmark_results_t00.0_t1100.0_maison.txt
src/__pycache__/constants.cpython-311.pyc
src/__pycache__/forcing.cpython-311.pyc
src/__pycache__/inv.cpython-311.pyc
src/__pycache__/observations.cpython-311.pyc
src/__pycache__/tools.cpython-311.pyc
src/models/__pycache__/__init__.cpython-311.pyc
src/models/__pycache__/classic_slab.cpython-311.pyc
tests_models/__pycache__/tests_functions.cpython-311.pyc
tests_models/png_tests_models/jslab_-70.0E_35.0N_t200_300.png
tests_models/png_tests_models/jslab_fft_-70.0E_35.0N_t200_300.png
tests_models/png_tests_models/jslab_kt_2D_adv_-70.0E_35.0N.png
tests_models/png_tests_models/jslab_Ue_Unio_-70.0E_35.0N_t200_300.png
tests_models/png_tests_models/jslab_kt_2D_-50.0E_40.0N.png
tests_models/png_tests_models/jslab_kt_2D_adv_-50.0E_40.0N.png
tests_models/png_tests_models/jslab_kt_2D_adv_Ut_-50.0E_40.0N.png
tests_models/png_tests_models/junsteak_-50.0E_40.0N_t270_300.png
src/__pycache__/basis.cpython-311.pyc
src/models/__pycache__/unsteak.cpython-311.pyc
tests_models/png_tests_models/
tests_models/memory_profile_junsteak_kt_2D_forward.prof
tests_models/saved_outputs/junsteak_kt_2D_-47.4E_34.6N.nc
NN_attempts/my_attempt/__pycache__/model.cpython-310.pyc
NN_attempts/my_attempt/__pycache__/training.cpython-310.pyc
tests_models/profile002.svg

NN_attempts/NN_solve/__pycache__/dissipation_NN.cpython-311.pyc
NN_attempts/NN_solve/__pycache__/PINNs.cpython-311.pyc
NN_attempts/NN_solve/__pycache__/prepare_data.cpython-311.pyc
NN_attempts/NN_solve/__pycache__/training.cpython-311.pyc
NN_attempts/NN_solve/examples/MNIST/MNIST/raw/t10k-images-idx3-ubyte
NN_attempts/NN_solve/examples/MNIST/MNIST/raw/t10k-images-idx3-ubyte.gz
NN_attempts/NN_solve/examples/MNIST/MNIST/raw/t10k-labels-idx1-ubyte
NN_attempts/NN_solve/examples/MNIST/MNIST/raw/t10k-labels-idx1-ubyte.gz
NN_attempts/NN_solve/examples/MNIST/MNIST/raw/train-images-idx3-ubyte
NN_attempts/NN_solve/examples/MNIST/MNIST/raw/train-images-idx3-ubyte.gz
NN_attempts/NN_solve/examples/MNIST/MNIST/raw/train-labels-idx1-ubyte
NN_attempts/NN_solve/examples/MNIST/MNIST/raw/train-labels-idx1-ubyte.gz
NN_attempts/simple_NN_solve/__pycache__/dissipation_NN.cpython-311.pyc
NN_attempts/simple_NN_solve/__pycache__/ode_solver.cpython-311.pyc
NN_attempts/simple_NN_solve/__pycache__/training.cpython-311.pyc
NN_attempts/my_attempt/__pycache__/model.cpython-311.pyc
NN_attempts/my_attempt/__pycache__/training.cpython-311.pyc
tests_models/__pycache__/Listes_models.cpython-311.pyc
tests_models/saved_outputs/junsteak_kt_2D_adv_-47.4E_34.6N.nc
tests_models/__pycache__/Listes_models.cpython-311.pyc
tests_models/__pycache__/Listes_models.cpython-311.pyc
tests_models/saved_outputs/jslab_kt_2D_-47.4E_34.6N.nc
tests_models/saved_outputs/jslab_kt_2D_adv_-47.4E_34.6N.nc
tests_models/saved_outputs/jslab_kt_2D_adv_Ut_-47.4E_34.6N.nc
tests_models/__pycache__/Listes_models.cpython-311.pyc
